
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 640px) {
  .btn-primary {
    display: none;
  }
}