/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.btn-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-item-active svg {
  color: #f4f4f4 !important;
}

.sidebar-item:hover svg {
  color: #f4f4f4 !important;
}

@media (max-width: 768px) {
  .btn-gallery {
    display: none;
  }
}

.carousel-custom [data-testid="carousel-right-control"] span,
.carousel-custom [data-testid="carousel-left-control"] span {
  background-color: #3f2d7e;
  color: white; /* Ejemplo de color de texto */
  padding: 10px; /* Ejemplo de relleno */
  cursor: pointer; /* Cambia el cursor cuando se pase por encima */
}

.carousel-custom [data-testid="carousel-right-control"] span:hover,
.carousel-custom [data-testid="carousel-left-control"] span:hover {
  background-color: #a374cc;
}
