/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.btn-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

 .sidebar-item-active svg {
  color: #f4f4f4 !important;
} 


.sidebar-item:hover svg {
  color: #f4f4f4 !important;
} 




@media (max-width: 768px) {
  .btn-gallery {
    display: none;
  }
}
